/* Dashboard.css */

.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #000;
  color: #ffcc00;
}

.sidebar {
  width: 250px;
  background-color: #222;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar ul li:hover, .sidebar ul li.active {
  background-color: #ffcc00;
  color: #000;
  border-radius: 5px;
}

.admin-assistant {
  margin-bottom: 40px;
}

.logout {
  padding: 15px;
  cursor: pointer;
  background-color: #ffcc00;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 40px;
}

.logout:hover {
  background-color: darkred;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
